
html, body {
    min-height: 100%;
}

.background {
    background-color:#529585;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.white-div {
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    border-collapse: collapse;
}
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Staatliches", cursive;
    margin: 20px;
}
  
.app-name {
    color: #00543d;
    font-size: 60px;
    padding: 10px;
}

.navbar {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #529585;
    border-radius: 10px;
    border: solid 1px black;
    width: 70%;
}

i {
    padding: 0px 7px;
}

.nav-button {
    background-color: inherit;
    border: solid white 3px;
    border-radius: 50px;
    color: white;
    padding: 8px;
    margin: 2px;
}

.nav-button:hover {
    background-color: #00543d;
    border-radius: 50px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.tip-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plant-card {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 1% 15%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    border-collapse: collapse;
}

.plant-card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.plant-body {
    padding: 5px;
}

.card-title {
    display: flex;
    text-align: left;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 18px;
    margin: 2px;
}

.card-species {
    color:#00543d;
    font-size: 14px;
    padding: 5px 0px 0px 0px;
    margin: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

#plant-icon {
    color:#529585;
}

.plant-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-plant {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    justify-items: center;
}

.section-title {
    width: 70%;
    color:black;
    padding: 0px 7%;
    margin: 0px;
    border-bottom: solid black 1px;
    margin-bottom: 3%;
    font-family: "Staatliches", cursive;
}

.bottom-btns {
    display: none;
}

.tip-card {
    margin: 2%;
    width: 33%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-collapse: collapse;
    text-align: center;
}

.input-card {
    width: 50%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    border-collapse: collapse;
    margin: 3% 3%;
}

.body-input-card {
    width: 100%;
    font-weight: bold;
}

.btn-submit {
    background-color:#529585;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.btn-submit:hover {
    color: white;
    font-size: 18px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    border-collapse: collapse;
}

.plantinfo {
    width: 65%;
}

.char-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 3%;
}

.plant-img {
    margin: 5% 0px 0px 1%;
}

.characteristic {
    width: 50%;
    text-align: left;
    margin: 1% 0px;
}

.char-name {
    padding: 0px;
    padding-top: 5%;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}

.char-value {
    color:#00543d;
    padding: 0px;
    margin: 0px;
}

h3 {
    display: flex;
    align-items: center;
}

.dateLastWatered {
    color:#529585;
    font-size: 20px;
}

.tip {
    margin-top: 5%;
    padding: 5%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-collapse: collapse;
    text-align: center;
}

.plant-btn {
    margin-right: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.badge {
    font-size: 18px;
    margin: 2%;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.badge-pill {
    margin: 1%;
    padding: 1% 2%;
    font-size: 12px;
    font-style: normal;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .btntext {
        font-size: 0px;
    }
    .white-div {
        width: 100%;
    }
    .nav-button {
        margin: 2px;
    }
    .navbar {
        width: 95%;
        margin: 10px;
    }
    .section-title {
        width: 90%;
    }
    .badge-pill {
        margin: 2%;
        font-size: 10px;
    }
    .plant-card {
        width: 90%;
    }
    .card-title {
        font-size: 13px;
        margin: 0px;
    }
    .badges-types {
        display: none;
    }
    .card-species {
        font-size: 10px;
    }
    .row {
        display: flex;
        flex-wrap: nowrap;
    }

    .tip-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tip-card {
        margin: 2%;
        width: 90%;
    }

    .top-btns {
        display: none;
    }

    .bottom-btns {
        margin: 30px;
        display:block;
    }
    .plantinfo {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .char-section {
        width: 90%;
        align-items:stretch;
        justify-content: flex-start;
        margin-left: 12%;
    }
    .img {
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .characteristic {
        width: 40%;
    }
    h4 {
        font-size: 18px;
    }
    .dateLastWatered {
        font-size: 16px;
    }
    .alert {
        font-size: 12px;
        padding: 8px;
    }
    .char-name {
        font-size: 16px;
    }
    .char-value {
        font-size: 14px;
    }
    .tip-body {
        font-size: 14px;
    }
    .input-card {
        width: 95%;
    } 
}

/* Media Query for low resolution Tables, Ipads */
@media (min-width: 481px) and (max-width: 900px) {
    .btntext {
        font-size: 0px;
    }
    .white-div {
        width: 90%;
    }
    .navbar {
        width: 80%;
    }
    .nav-button {
        margin: 2px;
    }
    .navbar {
        width: 95%;
        margin: 10px;
    }
    .section-title {
        width: 90%;
    }
    .badge-pill {
        margin: 2%;
        font-size: 10px;
    }
    .plant-card {
        width: 90%;
    }
    .card-title {
        font-size: 16px;
        margin: 0px;
    }
    .badges-types {
        display: none;
    }
    .card-species {
        font-size: 12px;
    }
    .row {
        display: flex;
        flex-wrap: nowrap;
    }
    .tip-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tip-card {
        margin: 2%;
        width: 90%;
    }
    .top-btns {
        display: none;
    }
    .bottom-btns {
        margin: 30px;
        display:block;
    }
    .plantinfo {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .char-section {
        width: 90%;
        align-items:stretch;
        justify-content: flex-start;
        margin-left: 12%;
    }
    .img {
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .characteristic {
        width: 40%;
    }
    h4 {
        font-size: 20px;
    }
    .dateLastWatered {
        font-size: 18px;
    }
    .alert {
        font-size: 16px;
        padding: 8px;
    }
    .char-name {
        font-size: 18px;
    }
    .char-value {
        font-size: 16px;
    }
    .tip-body {
        font-size: 16px;
    }
    .input-card {
        width: 95%;
    } 
}
